* {
  padding: 0;
  margin: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
}


/* FONTS */
@font-face {
  font-family: 'Barlow';
  src: url('../fonts/Barlow-Bold.woff2') format('woff2'),
      url('../fonts/Barlow-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow';
  src: url('../fonts/Barlow-Black.woff2') format('woff2'),
      url('../fonts/Barlow-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow';
  src: url('../fonts/Barlow-Medium.woff2') format('woff2'),
      url('../fonts/Barlow-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow';
  src: url('../fonts/Barlow-Regular.woff2') format('woff2'),
      url('../fonts/Barlow-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}




/* CUSTOM PROPS */
:root {
  --orange:#f16718;
  --light-orange:#ff9b62;
  --dark:#162542;
  --gray:#7b8bad;
  --light-gray:#e8eff2;
}


/* GLOBAL */

html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing:inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #fff;
  color: var(--gray);
  font-family: "Barlow", "Arial", sans-serif;
  line-height: 1.625rem;
}

img {
  max-width: 100%;
  height: auto;
}

/* CONTAINER */

.container {
  width: 100%;
  max-width: 72rem;
  padding-left: 1.31rem;
  padding-right: 1.31rem;
  margin-left: auto;
  margin-right: auto;
}


/* VISUALLY-HIDDEN */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}



/* AUTOFILL-STYLES */
/*
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--heading-color);
  -webkit-box-shadow: 0 0 0px 40rem #ffff inset;
} */

/* PLACEHOLDER STYLE */
/*
::placeholder {
  color: rgba(52, 49, 61, 0.5);
} */


/* LOGO */
.logo {
  display: block;
}

.logo__img {
  width: 2.5rem;
  height: 2.5rem;
  display: block;
}


/* BUTTONS */

.btn {
  display: inline-block;
  width: 11rem;
  border-radius: 0.5rem;
  text-align: center;
  padding: 1rem 1.625rem;
  font-weight: 700;
  text-transform: uppercase;
  color:#fff;
  transition: background-color 0.3s ease,
              color 0.3s ease;
}

.btn-orange {
  background-color: var(--orange);
}

.btn-orange:hover {
  background-color: var(--light-orange);
}

.btn-orange:active {
  opacity: 0.8;
}


.btn-gray {
  background-color: var(--light-gray);
  color: var(--dark);
}

.btn-gray:hover {
  background-color: var(--dark);
  color: #fff;
}

.btn-gray:active {
  opacity: 0.8;
}



/* HEADER */

.header {
  padding-top: 3.5rem;
  padding-bottom:  5rem;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}



/* MAIN-CONTENT */

.main-content {
  flex-grow: 1;
}



/* RETINA BACKGROUND IMAGES */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

}