* {
  padding: 0;
  margin: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
}


/* FONTS */
@font-face {
  font-family: 'Barlow';
  src: url('../fonts/Barlow-Bold.woff2') format('woff2'),
      url('../fonts/Barlow-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow';
  src: url('../fonts/Barlow-Black.woff2') format('woff2'),
      url('../fonts/Barlow-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow';
  src: url('../fonts/Barlow-Medium.woff2') format('woff2'),
      url('../fonts/Barlow-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow';
  src: url('../fonts/Barlow-Regular.woff2') format('woff2'),
      url('../fonts/Barlow-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}




/* CUSTOM PROPS */
:root {
  --orange:#f16718;
  --light-orange:#ff9b62;
  --dark:#162542;
  --gray:#7b8bad;
  --light-gray:#e8eff2;
}


/* GLOBAL */

html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing:inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #fff;
  color: var(--gray);
  font-family: "Barlow", "Arial", sans-serif;
  line-height: 1.625rem;
}

img {
  max-width: 100%;
  height: auto;
}

/* CONTAINER */

.container {
  width: 100%;
  max-width: 72rem;
  padding-left: 1.31rem;
  padding-right: 1.31rem;
  margin-left: auto;
  margin-right: auto;
}


/* VISUALLY-HIDDEN */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}



/* AUTOFILL-STYLES */
/*
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--heading-color);
  -webkit-box-shadow: 0 0 0px 40rem #ffff inset;
} */

/* PLACEHOLDER STYLE */
/*
::placeholder {
  color: rgba(52, 49, 61, 0.5);
} */


/* LOGO */
.logo {
  display: block;
  margin-right: 1rem;
}

.logo__img {
  width: 2.5rem;
  height: 2.5rem;
  display: block;
}


/* BUTTONS */

.btn {
  display: inline-block;
  width: 11rem;
  border-radius: 0.5rem;
  text-align: center;
  padding: 1rem 1.625rem;
  font-weight: 700;
  text-transform: uppercase;
  color:#fff;
  cursor: pointer;
  transition: background-color 0.3s ease,
              color 0.3s ease;
}

.btn-orange {
  background-color: var(--orange);
}

.btn-orange:hover {
  background-color: var(--light-orange);
}

.btn-orange:active {
  opacity: 0.8;
}


.btn-gray {
  background-color: var(--light-gray);
  color: var(--dark);
}

.btn-gray:hover {
  background-color: var(--dark);
  color: #fff;
}

.btn-gray:active {
  opacity: 0.8;
}



/* HEADER */

.header {
  padding-top: 3.5rem;
  padding-bottom:  5rem;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}



/* MAIN-CONTENT */

.main-content {
  flex-grow: 1;
}



/* HERO */
.hero {
  margin-bottom: 1.875rem;
  background-image: url(../img/pattern-square.svg);
  background-repeat: no-repeat;
  background-size: 255px 240px;
  background-position: right -120px top;
}


.hero__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.hero__content {
  width: 100%;
  max-width: 27.8rem;
  display: flex;
  flex-direction: column;
  margin-top: 3.75rem;
  margin-right: 1rem;
}

.hero__heading {
  margin: 0;
  margin-bottom: 1.5rem;
  color: var(--dark);
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 3.5rem;
  text-transform: uppercase;
}

.hero__description {
  font-size: 1.125rem;
  line-height: 1.625rem;
  margin-bottom: 2.5rem;
}

.hero__wrapper {
  display: flex;
  align-items: center;
}

.hero__release {
  font-weight: 700;
}

.btn-orange {
  margin-right: 2.5rem;
}

.hero__picture {
  display: block;
}

.hero__img {
  display: block;
  width: 33.75rem;
  height: auto;
  border-radius: 1.25rem;
}


/* MECHANICAL */
.mechanical {
  margin-bottom: 10.5rem;
  background-image: url(../img/pattern-square.svg);
  background-repeat: no-repeat;
  background-size: 255px 240px;
  background-position: left -120px bottom;

}

.mechanical__container {
  display: flex;
  align-items: center;
  justify-content: space-between
}

.mechanical__pictures-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mechanical__red {
  position: relative;
  display: block;
  margin-right: 1.875rem;
  border-radius: 1.25rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


.machanical__red--img {
  width: 15.9rem;
  height: auto;
  display: block;
  border-radius: 1.25rem;
}

.mechanical__red--grid {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: var(--orange);
  mix-blend-mode: multiply;
  top: 0;
  left: 0;
  border-radius: 1.25rem;
}

.mechanical__light {
  display: block;
}

.meachanical__light--img {
  width: 27.8rem;
  height: auto;
  display: block;
  border-radius: 1.25rem;
}

.mechanical__content {
  width: 16rem;
  margin-left: 1rem;
}

.mechanical__heading {
  text-transform: uppercase;
  color: var(--dark);
  margin-bottom: 1.7rem;
  font-weight: 900;
  font-size: 2rem;
  line-height: 2.25rem;
}

.mechanical__description {
  font-weight: 500;
}


/* FEATURE */

.feature {
  margin-bottom: 8rem;
}

.feature__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.feature__item {
  display: flex;
  flex-direction: column;
  max-width: 15.9rem;
  width: 100%;
  height: 20rem;
  flex-grow: 1;
}

.feature__item:not(:last-child) {
  margin-right: 1.875rem;
}

.feature__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  background-color:var(--orange);
  border-radius: 1rem;
  margin-bottom: 3rem;
  flex-shrink: 0;
}

.feature__img {
  display: block;
}

.feature__heading {
  text-transform: uppercase;
  width: 200px;
  color: var(--dark);
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 1.75rem;
  margin-bottom: 1.5rem;
}

.feature__description {
  font-weight: 500;
  flex-grow: 1;
}


/* FOOTER */
.footer {
  padding-bottom: 2.5rem;
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__info {
  font-weight: 700;
  margin-right: 3px;
}

.footer__rights {
  text-transform: capitalize;
}



/* RETINA BACKGROUND IMAGES */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

}


@media only screen and (max-width:1200px) {
  .hero {
    background-image: none;
  }

  .mechanical {
    background-image:none;
  }
}

@media only screen and (max-width:1024px) {
  .hero {
    overflow: hidden;
  }

  .hero__container {
    align-items: center;
  }

  .hero__content {
    margin-top: 0;
  }
}


@media only screen and (max-width:768px) {
  .header {
    padding-top: 2.5rem;
    padding-bottom:  3.875rem;
  }

  .hero {
    position: relative;
    margin-bottom: 2.5rem;
  }

  .hero__content {
    width: 21rem;
    margin-top: 3.75rem;
  }

  .hero__heading {
    font-size: 3rem;
    line-height: 3rem;
    margin-bottom: 2.125rem;
  }

  .hero__description {
    font-size: 1rem;
  }

  .btn-orange {
    margin-right: 2.31rem;
  }

  .hero__picture {
    position: absolute;
    z-index: -1;
    width: 30rem;
    height: auto;
    top: 0;
    right: -10rem;
  }

  .mechanical {
    margin-bottom: 8.875rem;
    overflow-x: hidden;
  }

  .mechanical__container {
    flex-direction: column;
  }

  .mechanical__pictures-wrapper {
    margin-bottom: 4.5rem;
  }

  .mechanical__red {
    width: 13.375rem;
  }

  .mechanical__light {
    width: 27.8125rem;
  }

  .mechanical__content {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 0;
  }

  .mechanical__heading {
    margin: 0;
    margin-right: 1rem;
  }

  .footer {
    padding-bottom: 2.75rem;
  }
}

@media only screen and (max-width:680px) {
  .hero__picture {
    display: none;
  }
}

@media only screen and (max-width:550px) {
  .hero__container {
    flex-direction: column;
    align-items: start;
  }

  .hero__content {
    margin-bottom: 4rem;
  }

  .hero__picture {
    display: block;
    position: relative;
    top: 0;
    left: 0;
  }
}

@media only screen and (max-width:460px) {
  .mechanical__red {
    display: none;
  }

  .mechanical__light {
    width: 100%;
  }

  .mechanical__content {
    text-align: center;
    flex-direction: column;
  }

  .mechanical__heading {
    width: 255px;
    margin: 0;
    margin-bottom: 1.5rem;
  }
}


@media only screen and (max-width:375px) {
  .header {
    padding-top: 1.5rem;
    padding-bottom:  4rem;
  }

  .hero {
    margin-bottom: 1.5rem;
  }

  .hero__heading {
    margin-bottom: 2rem;
  }

  .hero__description {
    margin-bottom: 2rem;
  }

  .btn-orange {
    margin-right: 2rem;
  }

  .hero__picture {
    width: 23rem;
    height: auto;
  }

  .mechanical {
    margin-bottom: 7rem;
  }

  .mechanical__red {
    position: absolute;
    width: 8rem;
    display: block;
    top: 0;
    left: -8rem;
  }

  .mechanical__light {
    position: relative;
    right: -3.125rem;
    width: 13.75rem;
  }


  .footer {
    padding-bottom: 3.125rem;
  }
}

@media only screen and (max-width:320px) {
  .mechanical__red {
    display: none;
  }

  .mechanical__light {
    position: static;
    width: 100%;
  }
}